@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Oswald:wght@400;600&family=Roboto:wght@100&family=Rubik:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  position: relative;
  transition: top 0.3s;
}


.nav>img {
  height: 50px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 30px 10px 13px 10px;
  text-decoration: none;
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  color: #949699;
}

.nav>.nav-links>a:hover {
  color: #5c5c5c;
  text-shadow: 1px 1px 5px grey;
}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-header>img {
    height: 70px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #0e1111;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }

  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

video {

  height: auto;

}

.games {
  height: 60vh;
  width: 100%;
  background-color: #fff;

}

.parent-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 50px;
  background-image: url('../img/game-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.div1 {
  grid-area: 1 / 1 / 5 / 4;
  height: 50vh;

}

.div1>h1 {
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
  padding: 30px 100px;
  font-size: 3em;
}

.div1>h3 {
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-left: 100px;
}

.div1>button {
  background: #55addd;
  border: 3px solid #ffffff;
  border-radius: 1000px;
  width:         170px;
  height:        50px;
  padding: 10px 10px;
  margin-left: 100px;
  margin-top: 50px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Rubik', sans-serif; 
  font-size: 1em;
  text-align: center;
}
.div1 > button:hover{
  background-color: #fff;
  color:#55addd;
}
.div2 {
  grid-area: 1 / 10 / 5 / 13;
  height: 50vh;
}

.div2>img {
  height: 35vh;
  margin-top: 25px;
  margin-left: -200px;
  
}

.div3>img {
  height: 50vh;
  margin-left: 100px;
}

.div3 {
  grid-area: 1 / 4 / 5 / 10;
  height: 50vh;
  color: aliceblue;
}

.console {
  height: 50vh;
  width: 100%;
  background-color: #fff;
  margin-top: -100px;
}

.parent-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 50px;
  background-image: url('../img/popular-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.div4 {
  grid-area: 1 / 1 / 5 / 4;
  height: 50vh;
}

.div6 {
  grid-area: 1 / 10 / 5 / 13;
  height: 50vh;
  color: aliceblue;
  text-align: left;
}

.div4>img {
  height: 100%;
  margin-left: 100px;
}

.div5 {
  grid-area: 1 / 4 / 5 / 10;
  height: 50vh;
  color: aliceblue;
}
.div5 > img{
  height: 50vh;
  margin-top: 0px;
  margin-left: 300px;
}
.div6>h1 {
  margin-top: 40px;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
  padding: 30px 100px;
  font-size: 35px;
}

.div6>h3 {
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-left: 100px;
}

.div6>a>button {
  background: #A17A69;
  border: 3px solid #ffffff;
  border-radius: 1000px;
  width:         170px;
  height:        50px;
  padding: 10px 10px;
  margin-left: 100px;
  margin-top: 50px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Rubik', sans-serif; 
  font-size: 1em;
  text-align: center;
}
.div6 > a >button:hover{
  background-color: #fff;
  color:#A17A69;
  
}
.network{
  display: flex;
  justify-content: center;
  background-repeat: cover;
  height: 90vh;
  
  background-image:     linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
  url('../img/onepiece.png');
  background-position:315px -40px;
  background-size: 840px;
}
.top > h1{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 250px;
  margin-left: 30px;
  font-size: 2em;

}
.top > h4{
  color:#fff;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.bottom > button{
  background: red;
  border: 3px solid #ffffff;
  border-radius: 1000px;
  width:         170px;
  height:        50px;
  padding: 10px 10px;
  margin-left: 50px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Rubik', sans-serif; 
  font-size: 1em;
  text-align: center;
}
.bottom >button:hover{
  background-color: white;
  color: red;
  border: 3px solid red;
}
input[type="email"]{
  background: white;
  border: 3px solid #000;
  border-radius: 1000px;
  width:         200px;
  height:        50px;
  padding: 10px 10px;
  color: #000;
  display: inline-block;
  font-family: 'Rubik', sans-serif; 
  font-size: 1em;
  text-align: center;
}
input[type="email"]:hover{
  background: black;
  color: #fff;
  
}

.network-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .top  { grid-area: 1 / 1 / 4 / 4;
    
    
   }
  .bottom { grid-area: 4 / 1 / 6 / 4; 
    margin-top: -60px;
    
  }
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    height: 30vh;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  
 
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  

  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: linear-gradient(90deg, rgba(31,34,34,.6) 0%, 
                      rgba(2,0,36,1) 100%, rgba(29,29,31,0.32) 100%);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;

  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
  body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: white;      
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: red;    
    border-radius: 20px;      
    border: 3px solid white; 
  }